* {
  background-color: black;
  color: white;
}

a {
  color: red;
  font-size: 2rem;
}

h1 {
  font-size: 3rem;
  text-align: center;
  text-decoration: underline;
}

h2 {
  font-size:2.5rem;
  text-decoration: underline;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;

}
